html,body{
  overflow: hidden;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:linear-gradient(180deg, #000, #13358b);
}

section{
  width: 100%;
  height: 100%;
}

canvas{
  opacity: 0.9;
}

header{
  height: 50px;
  position: fixed;
  left: 0; 
  display: block;
  top: 0;
  text-align: center;
  color: #fff;
  line-height: 50px;
  font-size: 24px;
  z-index: 9;
  right: 0;
}
#tips{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
  color: #fff;
}

video{
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 0;
  left: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.codeinput{
  font-size: 30px;
  color: #fff;
  padding: 5px;
  display: block;
  margin: 0 auto;
  background-color: transparent;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgba(255,255,255,.8);
}
.main{
  width: 100%;
  height: 100%;
  padding-top: 100px;
  box-sizing: border-box;
}
.showname{
  color: #fff;
  text-align: center;
  padding: 0 30px;
  word-wrap: break-word;
  
}